*.pyc
*.bak
*.dat
*.dir
*.pyc
*~

.ipynb_checkpoints
.vscode

checkpoint
myvenv
__pycache__

*.dot
*.plt
*.tab

logs/*

input/**
!input/.gitkeep

output/**
!output/.gitkeep

img/**
!img/.gitkeep
!img/???.png
!img/*.dot

ply/
runs/
data/
Python-Geospatial-Development-Third-Edition/
